Source: ruby-erubis
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Bryan McLellan <btm@loftninjas.org>, Laurent Bigonville <bigon@debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/git/pkg-ruby-extras/ruby-erubis.git
Vcs-Browser: http://anonscm.debian.org/gitweb?p=pkg-ruby-extras/ruby-erubis.git;a=summary
Homepage: http://www.kuwata-lab.com/erubis/
XS-Ruby-Versions: all

Package: ruby-erubis
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Replaces: erubis (<< 2.7.0-1~), liberubis-ruby (<< 2.7.0-1~), liberubis-ruby1.8 (<< 2.7.0-1~), liberubis-ruby1.9.1 (<< 2.7.0-1~), erubis-doc (<< 2.7.0-1~)
Breaks: erubis (<< 2.7.0-1~), liberubis-ruby (<< 2.7.0-1~), liberubis-ruby1.8 (<< 2.7.0-1~), liberubis-ruby1.9.1 (<< 2.7.0-1~), erubis-doc (<< 2.7.0-1~)
Provides: erubis, liberubis-ruby, liberubis-ruby1.8, liberubis-ruby1.9.1, erubis-doc
Description: fast and extensible eRuby implementation which supports multi-language
 Erubis is a very fast eRuby implementation that features:
  * Multi-language support (Ruby/PHP/C/Java/Scheme/Perl/Javascript)
  * Auto escaping support
  * Auto trimming spaces around '<% %>'
  * Embedded pattern changeable (default '<% %>')
  * Enable to handle Processing Instructions (PI) as embedded pattern
  * Context object available and easy to combine eRuby template with YAML file
  * Print statement available
  * Easy to extend and customize in subclass
  * Ruby on Rails support
